<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <queries android:name="android.permission.QUERY_ALL_PACKAGES">
        <package android:name="com.android.vending" /> <!-- Google Play Store -->
        <package android:name="com.google.android.apps.maps" /> <!-- Google Maps -->
        <package android:name="com.android.chrome" /> <!-- Google Chrome -->
        <package android:name="com.google.android.apps.docs" /> <!-- Google Drive -->
        <package android:name="com.google.android.apps.photos" /> <!-- Google Photos -->
        <package android:name="com.google.android.youtube" /> <!-- YouTube -->
        <package android:name="com.google.android.apps.docs.editors.docs" /> <!-- Google Docs -->
        <package android:name="com.google.android.apps.docs.editors.sheets" /> <!-- Google Sheets -->
        <package android:name="com.google.android.apps.docs.editors.slides" /> <!-- Google Slides -->
        <package android:name="com.google.android.keep" /> <!-- Google Keep -->
        <package android:name="com.google.android.calendar" /> <!-- Google Calendar -->
        <package android:name="com.google.android.gm" /> <!-- Gmail -->
        <package android:name="com.google.android.apps.googleassistant" /> <!-- Google Assistant -->
        <package android:name="com.google.android.contacts" />
        <package android:name="com.google.android.deskclock" />
        <package android:name="com.google.android.apps.wellbeing" />
        <package android:name="com.google.android.apps.nbu.files" />
        <package android:name="com.google.android.googlequicksearchbox" />
        <!-- Add more as needed -->

    </queries>



    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DockPlus"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.DockPlus">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".OverlayService" />
    </application>

</manifest>